[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://GitHub.com/cntrump/hugo-notepadium.git
